* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: cyan;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  margin-top: 20px;
  margin-bottom: 13px;
  padding: 7px;
  text-align: center;
  background-color: orange;
  box-shadow: 2px 2px 2px gray;
  border-radius: 20%;
  transition-duration: 2s;
  transition-timing-function: linear;
}
button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: red;
  transform: scale(1.4, 1.4);
  border-radius: 30px;
}
